@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   background-color: #f2f2f2;
}

.no-scrollbar::-webkit-scrollbar {
   display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
}
